@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .container-auto {
        max-width: 1130px;
        margin: auto;
    }

   
}
.content-home header{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}  
.home-row{
    margin-left:0px !important;
}
.mt-6{
    margin-top: 6rem;
}

.test{
    margin-top: 10rem;
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 8px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
  }
  
  .footer-left h4,
  .footer-right h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .footer-left p,
  .footer-right p {
    font-size: 0.8rem;
    line-height: 1.6;
  }
  
  .social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    font-size: 0.8rem;
    color: #fff;
    transition: color 0.3s ease;
  }
  